#game-board
{
  font-family: monospace;
  white-space: pre;
}

#game-board > .hex > .border {color: #999;}
#game-board > .hex.player-0 {color: #00c;}
#game-board > .hex.player-1 {color: #c00;}
#game-board > .hex.source {background-color: #cfc; cursor: pointer;}
#game-board > .hex.destination {background-color: #fcc; cursor: pointer;}
#game-board > .hex.cancel {background-color: #ddd; cursor: pointer;}

#control .btn
{
  display: block;
  margin-top: 0.25em;
  margin-left: 1em;
}
